.loginForm{
    height: 300px;
    width: 500px;

    border-radius: 6px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: var(--primary-color-2);
    background-color: var(--neutral-color);
}

.rememberGroup{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    width: 80%;
    padding: 0px 30px;
    margin-bottom: 20px;
    font-size: 14px;
}

.rememberGroup input{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px; 
    height: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    margin-left: 8px;
}

.rememberGroup label{
    user-select: none;
}

.rememberGroup label:hover{
    cursor: pointer;
}

.rememberGroup input:checked{
    background-color: var(--secondary-color); 
}
  